;;; .secret.el -- 定义一些秘密变量
;;;
;;; Commentary:
;;;
;;; 定义密码等秘密信息
;;;
;;; Code:

(defconst secret-freenode-password "Password for freenode")
(defconst secret-freenode-nick "Nick for freenode")
(defconst secret-freenode-full-name "Full name for freenode")
(defconst secret-gmail-gray-account "")
(defconst secret-gmail-cold-account "")
;; .secret.el ends here
